name: Bond ETF Auto Process

on:
  push:
    paths:
      - 'input/**'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run processing script
        run: python main.py

      - name: Upload result artifact
        uses: actions/upload-artifact@v4
        with:
          name: result-file
          path: output/科创债ETF_累计结果.xlsx
